.legendBarCharts {
    display: flex;
    justify-content: space-between;
}

.dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.38rem;
}

.black {
    background-color: #282D30;
}

.red {
    background-color: #E60000;
}

.flex {
    display: flex;
}


.flexCenter{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin: 0 2vw 0 0;
    color: #74798C;
}

.textBarCharts{
    font-weight: 600;
    font-size: 0.938rem;
    line-height: 1.5rem;
}